.game-over-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 3%;
  animation: slide-in-top-5 0.2s ease-out;
}

.game-over-text {
  color: var(--font-color-secondary);
  text-align: center;
  width: 70%;
}

.game-over-stat-container {
  width: 45%;
  height: 400px;
  min-width: 600px;
  background: var(--primary-color);
  border: 3px solid var(--border-color);
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  box-shadow: 0px 0px var(--shadow-size) var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 3%;
  color: var(--font-color-primary);
}

.game-over-stat-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-over-stats-item {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 1.4rem;
}

.game-over-stats-item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.game-over-stats-icon {
  width: 60px !important;
  height: 60px !important;
  filter: drop-shadow(0 0 10px var(--border-color));
}

.game-over-stats-item-value {
  color: var(--font-color-secondary);
}
