:root {
  --font-color-primary: #a3f7b5;
  --font-color-secondary: white;
  --border-color: #40c9a2;
  --primary-color: #2c2f45;
  --secondary-color: #3581b8;
  --icon-primary-color: var(--primary-color);
  --icon-secondary-color: var(--font-color-primary);
  --border-radius: 20px;
  --shadow-size: 10px;
  --common-color: #9bbec7;
  --rare-color: #7cea9c;
  --epic-color: #ea7af4;
  --legendary-color: #de3c4b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  cursor: url('/src/assets/img/pointer.png'), auto;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

#root,
canvas {
  width: 100%;
  height: 100%;
}

.common {
  background: linear-gradient(-145deg, var(--common-color), var(--primary-color));
}

.rare {
  background: linear-gradient(-145deg, var(--rare-color), var(--primary-color));
}

.epic {
  background: linear-gradient(-145deg, var(--epic-color), var(--primary-color));
}

.legendary {
  background: linear-gradient(-145deg, var(--legendary-color), var(--primary-color));
}
