.pause-menu-buttons-container {
  width: 100%;
  height: 100%;
}

.pause-menu-buttons-content {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.pause-menu-button {
  height: 60px;
  width: 400px;
  border-left: 0px;
  border-bottom-right-radius: var(--border-radius);
  justify-content: flex-start;
  padding: 5%;
  padding-left: 10%;
  animation: slide-in-left 0.2s ease-out;
}
