.score-interface-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3%;
  animation: slide-in-top-5 0.2s ease-out;
}

.score-fixed-interface-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
}

.score-stats-container {
  width: 600px;
  height: 400px;
  background: var(--primary-color);
  border: 3px solid var(--border-color);
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  box-shadow: 0px 0px var(--shadow-size) var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 3%;
  color: var(--font-color-primary);
}

.score-stats-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.score-stats-item {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 1.4rem;
}

.score-stats-item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.score-stats-item-value {
  color: var(--font-color-secondary);
}

.score-stats-icon {
  width: 60px !important;
  height: 60px !important;
  filter: drop-shadow(0 0 10px var(--border-color));
}

.score-button-continue {
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.score-weapon-reward {
  width: 300px;
  height: 400px;
  border: 3px solid var(--border-color);
  background-color: var(--primary-color);
  color: var(--font-color-secondary);
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  box-shadow: 0px 0px var(--shadow-size) var(--border-color);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.score-weapon-header {
  width: 100%;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-weapon-name {
  text-align: center;
}

.score-weapon-icon {
  width: 100px !important;
  height: 100px !important;
  filter: drop-shadow(0 0 10px var(--border-color));
}

.score-weapon-button {
  width: 160px;
  height: 45px;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color-primary);
}

.score-weapon-passive-container {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.score-weapon-passive-item {
  width: 100px;
  height: 100px;
  border: 3px solid var(--border-color);
  background: var(--primary-color);
  color: var(--font-color-secondary);
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.score-weapon-passive-text {
  text-align: center;
  font-size: 0.9rem;
}

.score-weapon-passive-icon {
  width: 45px !important;
  height: 45px !important;
  filter: drop-shadow(0 0 10px var(--border-color));
  color: var(--font-color-secondary) !important;
}
