.workbench-upgrade-text {
  color: var(--font-color-primary) !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workbench-money-container {
  display: flex;
  align-items: center;
  height: 60px;
  width: 20%;
  justify-content: center;
  gap: 3px;
  background-color: var(--primary-color);
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border: 3px solid var(--border-color);
  box-shadow: 0px 0px var(--shadow-size) var(--border-color);
  color: var(--font-color-primary);
}
